{% extends 'base.html' %}

{% block title %} Fortune Teller {% endblock %}

{% block content %}

    <body>
        <div class="container" id="home">
        <h2>Successfuly Delivered!</h2>
        <br>
        <div class="quotation">
             {{ fortune_text }}
        </div>

        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Your friend - {{ friendname }} - recieved today's fortune below.</div>
            <div class="card-body text-dark">
                <h5 class="card-title">{{ fortune_text }}</h5>
            </div>
        </div>
    </div>
    </body>

{% endblock %}